
# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS folders
__MACOSX/
.Trashes
.Spotlight-V100
.fseventsd

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# System files
*.log
*.tmp


# large generated
Data/HuggingFace_Models/models_info_15_Aug_2024.json
Data/HuggingFace_Models/models_info_PEFT.json
